.container{
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px
  top:0px;
}
.navbar-default{
  background-color: #000;
}
.newNav{
  height: 35px;
  background-color: #E86A51;
  z-index: 21;
  border: none;
  text-align: center;
  color: white;
}
.first{
  height: 35px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.col-md-12{
  padding: 0px;
}
.mainBoard{
  text-align: center;
}
.topMenu{
  font-size: 15px;
  cursor: pointer;
  width: 14%;
  height: 100%;
  line-height: 2.1pc;
}
.navbar{
  min-height: 35px;
}
.topMenu:hover{
  background-color: #DF3502;
}
.glyphicon{
  top: 3px;
  left: 2px;
}