<div>
	<form>
	  <div class="form-group">
	    <label class="lableTitles" for="eventTitleFor">Container Text:</label>
	    <input type="text" class="form-control" id="containerText">
	  </div>
	  <div class="form-group">
	    <label class="lableWidth" for="widthFor">Width:</label>
	    <input type="text" class="form-control" id="containerWidth">
	  </div>
	  <div class="form-group">
	    <label class="lableHeight" for="widthFor">Height:</label>
	    <input type="text" class="form-control" id="containerHeight">
	  </div>
	</form>
</div>