<nav class="newNav navbar navbar-default" role="navigation">
	<span class="pull-left topMenu" id="elementsBtn">Elements<span class="glyphicon glyphicon-chevron-down"></span></span>
	<span class="pull-left topMenu" id="sectionsBtn">Sections<span class="glyphicon glyphicon-chevron-down"></span></span>
	<button type="button" class="btn btn-danger pull-right">PREVIEW</button>
	<button type="button" class="btn btn-danger pull-right">SAVE</button>
	<button type="button" class="btn btn-danger pull-right">CLOSE</button>
</nav>
<div class="subToolBar">
	<span class="elementsSub">
		<span id="tableElement" class="glyphicon glyphicon-tasks items"><br/>Table</span>
		<span id="textElement" class="items glyphicon glyphicon-text-width"><br/>Text</span>
		<span id="buttonElement" class="items glyphicon glyphicon-play-circle"><br/>Button</span>
		<span id="imageElement" class="items glyphicon glyphicon-picture"><br/>image</span>
	</span>
	<span class="sectionsSub">
		<span id="headerSection" class="items glyphicon glyphicon-flag"><br/>Header</span>
		<span id="footerSection" class="items glyphicon glyphicon-tags"><br/>Footer</span>
		<span id="containerSection" class="items glyphicon glyphicon-folder-open"><br/>Container</span>
	</span>
</div>